[submodule "MetroRadiance"]
	path = MetroRadiance
url=https://github.com/Grabacr07/MetroRadiance
[submodule "resources/translations"]
	path = resources/translations
	url = https://github.com/gakada/KanColleViewer-Translations.git
